<div class="fixed-top" id="menu-cours" style="">
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-sm-6 hidden-xs">
				<ul id="menu-cours-nav" class="list-inline nav">
					<li class=""><a class="scrollTo" href="#cours-player">Vidéo</a></li>
					<li class=""><a class="scrollTo" href="#contenu-cours">Conetnu</a></li>
					<li class=""><a class="scrollTo" href="#formateur">Formateur</a></li>
					<li class=""><a class="scrollTo" href="#avis">Commentaire</a></li>
				</ul>
			</div>
			<div id="menu-action-cours" class="col-md-5 col-sm-6">
				<div class="row">
					<div class="clo-lg-4 col-sm-5 col-xs-5 pull-right">
						<div class="zone-prix-cours">
							<span class="prix-cours">
								<span>50</span>
								<small>FCFA</small>
							</span>
						</div>
					</div>
					<div class="clo-lg-8 col-sm-7 col-xs-7">
						<div class="zone-bouton-ajout-panier">
							<button class="btn btn-lg btn-primary">Ajouter au panier </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="cours-display-wrapper">
  <div class="container">
    <div id="cours-preview-wrapper" class="display-preview">
      <div class="row">
        <div class="col-md-4 pull-right">
          <div class="sidebloc sidebloc-cours">
            <h4 class="titre-cours">Calcul de puissance de Fourrier</h4>
            <div class="achat-cours">
              <span class="bouton-achat-cours">
                <button class="btn btn-lg btn-primary">Ajouter au panier </button>
              </span>
              <span class="prix-cours">
                <span>50</span>
                <small>FCFA</small>
              </span>
            </div>
            <div class="attributs-cours">
              <span class="duree-cours">Durée : 11m35s</span>
              <span class="note-cours">Note : 4.8/5<small> (sur 450 votants)</small></span>
            </div>
            <div class="avantages-cours">
              <ul class="liste-element-cours liste-avantage-cours">
                <li>Téléchargement immédiat </li>
                <li>Visionnage illimité*</li>
                <li>Fichiers sources inclus</li>
                <li>Satisfait ou remboursé</li>
              </ul>
              <span>* <small>Pendant l'année scolaire</small></span>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div id="viedo-cours-wrapper">
            <div id="cours-player" class="media-cours">
              <video poster="assets/images/postel.png" controls height="300"></video>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="cours-content-wrapper">
      <div class="row">
        <div id="sidebar-cours" class="col-md-3 sidebar">
          <div class="sidebloc sidebloc-matiere">
            <h3>Matière</h3>
            <ul class="liste-element-cours">
              <li><a href=""><h4>Mathématiques</h4></a></li>
              <li><a href=""><h6>Suites numeriques</h6></a></li>
            </ul>
          </div>
          <hr>
          <div class="sidebloc sidebloc-classe">
            <h3>Classe</h3>
            <ul class="liste-element-cours">
              <li><a href=""><h4>Terminale C</h4></a></li>
            </ul>
          </div>
          <hr>
          <div class="sidebloc sidebloc-autres-infos">
            <h3>Autres infos</h3>
            <ul class="liste-element-cours">
              <li>Ajoutée le </li>
              <li>Téléchargé </li>
              <li>Categorie : <a href="">Excercice corrigé</a></li>
              <li>ID : </li>
            </ul>
          </div>
        </div>
        <!-- ------  Contenu du cours ------ -->

        <div id="conteneur-cours" class="col-md-9">
          <div id="contenu-cours">
            <p>Vous avez sûrement remarqué que sur de nombreux blogs, certaines pages ont un aspect totalement différent des autres pages de ce blog. Même s’ils utilisent le même thème que vous, ils réalisent ces modifications avec un modèle de page personnalisé, lorsqu’ils veulent créer un contenu qui doit être vu différemment ou tout simplement pour le différencier du reste du site.</p>
            <p>Vous avez sûrement remarqué que sur de nombreux blogs, certaines pages ont un aspect totalement différent des autres pages de ce blog. Même s’ils utilisent le même thème que vous, ils réalisent ces modifications avec un modèle de page personnalisé, lorsqu’ils veulent créer un contenu qui doit être vu différemment ou tout simplement pour le différencier du reste du site.</p>
            <p>Vous avez sûrement remarqué que sur de nombreux blogs, certaines pages ont un aspect totalement différent des autres pages de ce blog. Même s’ils utilisent le même thème que vous, ils réalisent ces modifications avec un modèle de page personnalisé, lorsqu’ils veulent créer un contenu qui doit être vu différemment ou tout simplement pour le différencier du reste du site.</p>
          </div>
          <hr>
          <div id="formateur" class="row">
            
            <div class="col-sm-3 photo-formateur">
              <a href=""><img src="/assets/images/enseignants/prof-1/avatar.jpg" alt="..."></a>
            </div>
            <div class="col-sm-9 bio-formateur">
              <h1 class="nom-formateur">Formateur : <a href=""> YAO KOUAME SYLVAIN</a></h1>
              <div class="description-formateur">
                <p>Professeur de mathématiques au lycée le Kalys de Bouaké. Il a plublié 845 cours et a obtenu une moyenne de 3.85/5.
                  <a href=""> Voir les autres cours YAO KOUAME SYLVAIN</a>
                </p> 
              </div>
            </div>
          </div>
          <hr>
          <div id="avis">
            <p>Vous avez sûrement remarqué que sur de nombreux blogs, certaines pages ont un aspect totalement différent des autres pages de ce blog. Même s’ils utilisent le même thème que vous, ils réalisent ces modifications avec un modèle de page personnalisé, lorsqu’ils veulent créer un contenu qui doit être vu différemment ou tout simplement pour le différencier du reste du site.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>