.navbar{
    padding: 0rem;
    line-height: 1.3rem;
}
.navbar-nav{
    flex-direction:inherit;
}
.nav > li {
    display: block;
}
.nav > li > a{
    line-height: 20px;
    display: block;
    padding: 15px 15px;
}
.dropdown-toggle::after{
    display: none;
}
