<mat-toolbar color="primary" class="app-top-toolbar">
	<mat-toolbar-row>
		<span class="app-title-logo">
			<b style="color: blue;">E</b>duc<b style="color: orange;">H</b>ome
		</span>
		<nav class="app-top-menu">
			<a class="app-top-menu-item mat-button" mat-button routerLink="/"><span>Cours</span></a>
     		<a class="app-top-menu-item mat-button" mat-button routerLink="/site/login"><span>Solutions</span></a>
     		<a class="app-top-menu-item mat-button" mat-button routerLink="/site/register"><span>Formations</span></a>
		</nav>
		<button mat-icon-button>
	       <mat-icon>search</mat-icon>
	    </button>
	    <span class="app-top-actions">
	    	<button mat-button>Mon espace</button>
      		<button mat-raised-button class="app-btn-bg-primary" color="warn">Devenir enseignant</button>
	    </span>
	</mat-toolbar-row>
</mat-toolbar>