<mat-card class="cours">
	<mat-card-content>
		<div class="haut-cours">
			<span class="cours-promo-label promo-label-nouveau">Nouveau</span>
			<span class="type-cours-label">Excercie</span>
			<a class="preface-cours" routerLink="/site/cours-mathematiques">
				<img src="/assets/img/7.jpg" alt="couverture" class="img img-responsive" 
				data-sizes="(max-width:768px) 748px, (max-width:992px) 220px, (max-width:1200px) 240px, (min-width:1201px) 295px">
			</a> 
			<span class="avatar-auteur-cours">
				<img src="/assets/img/2.jpg" alt="photo-auteur-cours">
			</span>
			<span class="cours-favori"><a href="bouton-cours-favori"><span>Favori</span></a></span>
		</div>
		<div class="contenu-cours">
			<h3 class="titre-cours">Calcul integral et serrie de fourrier pussance</h3>
			<div class="infos-cours">
				<div> De 
					<a href="" title="Voir le profil du Professeur"> Professeur </a>
					<span>-Durée 10m15s</span> 
				</div>
			</div>
		</div>
		<div class="bas-cours">
			<div class="pull-left">
				<div class="note-cours moy-note moy-note-5" title="5">
					<span class="sr-only">5</span>
				</div>
			</div>
			<div class="pull-right prix-du-cours">
				<span>Gratuit</span>
			</div>
		</div>
	</mat-card-content>
</mat-card>

