<div id="filtre-cours">
	<div class="row">
		<div class="col-sm-6 col-xs-12">
			<div class="pull-left titre-nbr-tuto" onclick="">
				<div class="pull-left">
					<h1>2545 tutos  </h1>
				</div>
				<a id="resume-general" href="#"><small>(Plus d'infos)</small></a>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12" id="criteres-filtre">
			<ul class="liste-criteres">
				<li><a href="#">Revision cours</a></li>
				<li class="separateur">|</li>
				<li><a href="#">Corrigés d'exercices</a></li>
				<li class="separateur">|</li>
				<li><a href="#">Anciens sujets</a></li>
			</ul>
		</div>	
	</div>
</div>
